ul li {
    list-style: none;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}

header {
    word-wrap: break-word;
    background: #FFC0CB;
}

nav {
    background: #FFB6C1;
}
body {
	background: #E6E6FA;
}
.nechet {
    	background: #FFB6C1;
}

.col-name {
    color: rgb(255, 255, 255);
    background: #4B0082;
}

.table {
    margin: 0 0 0 17px;
}

.footer {
    background: #FFB6C1;
}
