html,body 
{
  background-color: #E6E6FA;
}
.content{
    position: relative;
    max-width: 960px;
    margin:auto;
}
header{
	width: 100%;
    margin:auto;
    background: #DDA0DD;
    font-family:century gothic;
    letter-spacing: 3px;
    height: auto;
    
}
.logo{  
    margin: auto;
    height: auto;
    max-width: 960px;
}
.logo img{
    float:left;
    margin-left: 25px;
    margin-top: 13px;
    margin-right: 20px;
}
.logo h1{
    display: inline-block;
    vertical-align: middle;
}
footer{
    width: 100%;
    margin-top:5px;
    background: #DDA0DD;
    height: 70px;
    text-align: center;
}
.current{
    margin-left: 25px;
}
.menu a{
    margin-right:24%;
    text-decoration: none;
    font-family: century gothic;
    color:black;
}
nav{
    background: #E0FFFF;
}
.menu{
    max-width: 960px;
    margin: auto;
}
.nechet{
    background: #FFC0CB;
}
#tablica {
    font-family:century gothic;
}
table
{
		margin-bottom:30px
}
